
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.nav>li>a:hover {
    text-decoration: none;
   /* background-color: #0d4c91 !important;*/
	background: linear-gradient(45deg, #000,#0d4c91)
}

/* CSS */
.singleLine{
	white-space: pre;
}

.titleDashboard{
	display:flex;
	justify-content: space-between;
}

.dateBtn{
	    padding: 19px 5px !important;
    	margin-right: 10px !important;
}

.panel-secondary{
	border-color: #8b0000 !important;
}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#expiry {
         background: linear-gradient(to right, #8b0000, #337ab7);
         padding: 2px 5px 2px 5px;
         border-radius: 5px;
         color: white;
         text-align: center;
         font-size: smaller;
         margin-left: 60px;
        }

.navbar-header {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.pannelBackground{
	
	background: linear-gradient(45deg, #E91125, #000);
    color: white !important;	
}

.headerTop{
	margin-top:70px;
}

/* .pull-right{
	margin-top:-30px !important;
} */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.navbar-fixed-top {
    border-bottom: 3px solid  black;
    background-color: #f1f1f1;
}



/* Hide for mobile, show later */
.sidebar {
  display: none;
 
.logoutIcon{	
    padding: 5px 20px !important;
}

 
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 33px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background: linear-gradient(45deg, #E91125, #000);
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #286DA9;
  background-color: #428bca;
}
.nav-sidebar > li > a {
    color: #fff;
    border-bottom: solid 1px #101112;
    
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.logoutBtn {
    margin-top: 5px;
    margin-right: 1pc;
}

@keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateX(-30px);
            }
            60% {
                transform: translateX(-15px);
            }
        }
        /* Apply animation to the "Expiry Days" text */
        #expiry {
            animation: bounce 1s infinite;
        }
        
        
        
 canvas {
            max-width: 300px;
            max-height: 300px;
       		margin: 0px auto;
            display: block;
           /* border: 2px solid red;*/
            /*border-radius: 8px;*/
            /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
        } 
        
     
        
 /* configuration page input fields width  */      
.inputField{
    width: -webkit-fill-available !important;
} 

/* configuration page mark * mark */
 mark {
    background-color: white !important;
    color: red;
}         