.custom-card {
    
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-table-container {
    max-height: 400px;
    border-radius: 10px;
    overflow-y: auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}
.cardBody{
    height: 470px;
    padding:20px;
}

.custom-table th,
.custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.custom-table th {
    position: sticky;
    top: 0;
    background-color: #8b0000;
    color: #fff;
    font-weight: bold;
}

.custom-table tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.custom-table tbody tr:hover {
    background-color: #e9ecef;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #e9e9e9;
}

::-webkit-scrollbar-thumb {
    background: #0d4c91;
    border-radius: 10px;
    border: 2px solid #F1F2F4;
}

::-webkit-scrollbar-thumb:hover {
    background: #8b0000;
}

.table td:last-child {
    width: 1%;
    white-space: nowrap;
}


/* styles.css */

.green {
    color: green;
    text-decoration: solid;
    
}

.red {
    color: red;
    text-decoration:solid;

}
