   
   .dropdownExport{
	   margin-right: 10px !important;
	   margin-top: 5px !important;
   }
   .dropdownWidth{
	   width: 10% !important;
   }
   .dropdownInput{
	   margin-left: 1% !important;
	   background-color: #8b0000;
   }
   
/*pageination css*/
     .pagination-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .pagination-button {
            background-color: #0d4c91;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        .pagination-button:hover {
            background-color: #8b0000;
        }

        
   .fixed-size-container {
   	padding:20px;
    border: 2px solid #0d4c91; 
    overflow: auto; 
}
        