/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Sep, 2022, 11:17:44 AM
    Author     : Nitinv
*/


.maindiv
{
    height:500px;
    widht:400px;
    background-color: gray;
}

.uploadc
{
    
}
