  
 
<div class="col-md-10 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">Change Password</div></div></div>
        <div class="col-md-10 col-md-offset-2">        

</div>
<div class="col-md-10 col-md-offset-5">
    <div class="panel-body">
        <form method="POST" action="/webH2H/ChangePassword" role="form">                
            <div class="form-group ">       
                <label class="control-label ">Old Password</label>             
                <input class="form-control width-change" type="password" name="current" id="Oldpassword" value="" autocomplete="off" required>
            </div>       
            <div class="form-group "> 
                <label class="control-label">New Password</label>  
                <br>
                <input class="form-control width-change" type="password" name="new" id="newpassword" value="" autocomplete="off" required>
            </div>
            <div class="form-group ">
                <label class="control-label">Confirm Password</label>
                <input class="form-control width-change" type="password" name="confirm" id="conpassword" value="" autocomplete="off" required>
            </div> 
            <div class="form-group ">
                <input class="btn btn-primary btn-sm" type="submit" value="Change">
            </div>          
        </form>
    </div>
</div>  

